{% extends "news/base.html" %}

{# 标题部分 #}
{% block titleBlock %}
    首页-新经资讯
{% endblock %}

{# javascript部分 #}
{% block scriptBlock %}
    <script type="text/javascript" src="../../static/news/js/index.js"></script>
{% endblock %}
{##}
{# 分类开头部分 #}
{% block headerBlock %}
     {% for category in data.categories %}
        <li class="{% if category.id==1 %}active{% endif %}" data-cid="{{ category.id }}"><a href="javascript:;">{{ category.name }}</a></li>
     {% endfor %}
{% endblock %}
{##}
{##}
{# 正文内容 #}
{% block contentBlock %}
    <ul class="list_con fl">
       <h1>正在拼命向后台获取数据</h1>
    </ul>

{% endblock %}
